<Body>

 <h3>Favor rellenar datos para el registro de usuario</h3>
<form [formGroup]="Formulario" (ngSubmit) = "submit()">

    <input type="text" formControlName="nombre">
    <br><br>
    <input type="number" formControlName  ="cedula">
    <br>
    <button type="submit">Submit</button>

</form>

<br>
<input type="text"  id="id" placeholder="id a buscar">
<button type="button" id ="consultar" (click)=" consulta()">Consultar</button>
<br>
<p>Resultados:
    <br>
Nombre : {{nombre}}
<br>
Cedula: {{cedula}}
 </p> 


</Body>