<Body>

    <h3>Favor rellenar datos para el registro de usuario</h3>
<form action=""></form>
<br>
<input type="text" id = "nombre" placeholder="nombre">
<br><br>
<input type="text" id = "apellido"  placeholder="apellido">
<br><br>
<input type="text" id = "cedula" placeholder="cedula">
<br><br>
<input type="text" id = "ocupacion" placeholder="ocupacion">
<br><br>
<input type="text" id = "correo" placeholder="email">
<br><br>
<input type="password" id = "password" placeholder="password">


</Body>